<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.filedb.mapper.FileMapper">

	<!--int insertFile(File file);-->
	<insert id="insertFile">
		INSERT INTO files VALUES (null,#{name},#{size},#{time},#{dir})
	</insert>

	<!--int deleteFile(String name);-->
	<delete id="deleteFile">
		DELETE FROM files WHERE name = #{name}
	</delete>
</mapper>